<div class="container" data-ng-if="Model.DealerProfileTemplate.length == 0">
    <a href="#/home"><i class="fa fa-backward font-size-30"></i><span class="font-size-20">Back to Home</span></a>
    <div class="row">
        <div class="col-md-8"><label class="white orange-color font-size-20"><i class="fa fa-users font-size-30"></i>Dealer List</label></div>
        <div class="col-md-2 margin-left-negative-32">
            <a class="white pointer-cursor font-size-20 orange-color" data-ng-click="Model.CreateNewDealer()"><i class="fa fa-plus font-size-30"></i> Dealer</a>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Any text to seatch" data-ng-model="Model.FilterText" />
        </div>
    </div>
    <div class="row">
        <div class="ui negative  message margin-botton-15" data-ng-show="Model.Dealers.length == 0 && !Model.ShowLoader">
            <i class="close icon"></i>
            <div class="header">
                <i class="fa fa-exclamation-circle orange-color"></i> Sorry!!
            </div>
            <p class="bold">
                No dealer records found. Please add the dealer by clicking +dealer link above.
            </p>
        </div>
        <div class="row" data-ng-show="Model.ShowLoader">
            <div class="col-md-12">
                <div class="item">
                    <span class="ui segment" style="position: inherit !important">
                        <span class="ui active dimmer">
                            <span class="ui small text loader">Loading</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="ui special cards margin-top-35">
            <div class="card student_card" data-ng-repeat="dealer in Model.Dealers | filter : Model.FilterText" style="width: 270px">
                <div class="content ">
                    <a class="header">{{dealer.Id}},{{dealer.FirstName}},{{dealer.LastName}}</a>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address</label>
                        </div>
                        <div class="col-md-6">
                            <span data-ng-bind="dealer.Address"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Place</label>
                        </div>
                        <div class="col-md-6">
                            <span data-ng-bind="dealer.Place"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tin Number</label>
                        </div>
                        <div class="col-md-6">
                            <span data-ng-bind="dealer.TinNumber"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Mobile Number</label>
                        </div>
                        <div class="col-md-6">
                            <span data-ng-bind="dealer.ContactNumber"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Email Id</label>
                        </div>
                        <div class="col-md-6">
                            <span data-ng-bind="dealer.EmailId"></span>
                        </div>
                    </div>

                </div>
                <div class="extra content">
                    <span class="">
                        <a class="pointer-cursor" data-ng-click="Model.EditDealer(dealer)"><i class="fa fa-edit"></i>Edit</a>
                        <a class="pointer-cursor" data-ng-click="Model.ShowDealerProfile(dealer)"><i class="fa fa-user"></i>Profile</a>
                        <!--<a class="pointer" data-ng-click="Model.UpdateFeeDetails(admission)"><i class="edit icon"></i>Edit Fee Details</a>
                        <a class="pointer" href="/api/year?id={{Model.Student.RegistrationNumber}}&year={{admission.StandardId}}"><i class="download icon"></i>Download Receipt</a>-->
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="dealerprofile">
    <div data-ng-include="Model.DealerProfileTemplate"></div>
</div>